MONGODB_URI = 'mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.3.8'
PORT = 3003
JWT_SECRET='a long secret text'
SALT=14
NODE_ENV='production'
APP_ORIGIN='APP_ORIGIN'
